body {
	background-color: #dedede;
	color: #121212;
}
body p {
	padding-left: 10px;
}
a {
	color: #006aad;
	transition-duration: 0.2s;
}

a:visited  {
	color: #da216d;
}

img {
	transition-duration: 0.2s;
}

img.even:hover {
	transform: rotate(0.5deg);
}

img.odd:hover {
	transform: rotate(-0.5deg);
}
code {
	color: #007988;
}